<div class="large-8 columns">
  <% @artists.each do |a| %>
    <ul>
      <li><%= a.name %>
      <%= image_tag(a.pic_thumb, class:"pic_thumb") %><br>
      <%= a.bio %></li>
    </ul>
  <% end %>
</div>
