.headerpic{
  width: 100%;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.artistpic{
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

.artist-name{
  font-size: 75px;
  margin-top: 30px;
}
.artist-items{
  margin: 10px;
  text-align: center;
}

.artist-square{
  margin: 10px;
  text-align:center;
}
