// @import "sticky-footer";

// // Footer
// @include sticky-footer(50px);
footer {
  background-color: black;
  height: 100px;
  color: rgba(255,255,255,0.5);
  margin-top: 0em;
  padding: 20px;
  font-size: 10px;
  a {
    color: rgba(255,255,255,0.7);
  }
}



a {
  text-decoration: none !important;
  background-color: transparent;
}

.logo_title {
  padding-top: 40vh;
  margin-bottom: 30px;
  font-size: 100px;
  color: white;
 }

 #about-text {
  font-size: 18px;
  color: white;
  padding: 40vh 3vw 10vh 3vw;
  background-color: rgba(0,0,0,0.5)
}

.sticky {
  font-weight: bold;
}

.logo_description {
  font-size: 50px;
  color: white;
}

.w-embed {
  margin-top: -45px;
}

.menu-link {
  color: white;
  font-size: 24px;
  display: inline-block;
  margin-right: 20px;
}





#artists_pics {
  margin-bottom: 0px;
}

#artist_name {
  background: rgba(0,0,0,0.3);
}



.hidden {
  visibility: hidden;
  display: none !important;
  background: transparent !important;
}
.visible {
  visibility: visible;
  display: block !important;
  background: transparent !important;
}

.back_artists {
  font-size: 18px;
  margin-top: -20px;
}

.back_articles {
  font-size: 18px;
  margin-bottom: 130px;
}

.hovering {
  opacity: 1;
}
