// @import "sticky-footer";

// // Footer
// @include sticky-footer(50px);
footer {
  margin-top: 0em;
  background-color: black;
  height: 52px;
  color: white !important;
}
a {
  text-decoration: none !important;
  background-color: transparent;
}

 .logo_title {
  padding-top: 50px;
  margin: 30px;
  font-size: 130px;
  text-align: center;
  color: white;
 }

 .sticky {
  font-weight: bold;
}

.logo_description {
  padding: 10px;
  margin: 10px;
  font-size: 50px;
  text-align: center;
  color: white;
}

.w-embed {
margin-top: -45px;
}

.artists {
  padding: 15px;
}

.posts {
  padding: 15px;
}

.about {
  padding: 15px;
}
